<h1 class="page-header"><%= @track.title %></h1>

<pre class="lyrics">♫ <%= h(@track.lyrics) %></pre>

<h4 class="sub-header">New Note</h4>

<%= render 'notes/form', track_id: @track.id %>

<h4 class="sub-header">Notes</h4>

<%= render 'notes/note', notes: @track.notes %>

<h4 class="sub-header">Links</h4>

<ul class="page-links">
  <a class="button" href="<%= edit_track_url %>">Edit Track</a>
  <%= button_to 'Destroy Track', track_url(@track.id) , method: :delete %>
  <a class="button" href="<%= album_url(@album.id) %>"><%= @album.title %></a>
</ul>
