<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if current_user %>
            <li>Hi, <%= current_user.username %></li>
            <li>
              <%= button_to 'Log Out', session_url, method: :delete %>
            </li>
          <% else %>
            <li><a href="<%= new_session_url %>">Sign In</a></li>
            <li><a href="<%= new_user_url  %>">Sign Up</a></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
