<% header_text = action == :new ? 'New Band!' : "Edit #{band.name}" %>
<% action_url = action == :new ? bands_url : band_url(band.id) %>

<%= render 'shared/errors' %>

<h1 class="page-header"><%= header_text %></h1>

<form class="form" action="<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <%= auth_token %>

  <p>
    <label for="band_name">Name</label>
    <input type="text" id="band_name" name="band[name]" value="<%= @band.name %>">
  </p>

  <input type="submit">
</form>
